<!DOCTYPE html>
<html>
<head>
    <title>{{.title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/revauth/public/css/bootstrap.min.css">
    <style type="text/css" media="screen">
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>

{{if .flash.error }}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="alert alert-danger">
                {{.flash.error}}
            </div>
        </div>
    </div>
</div>
{{end}}

{{if .flash.success }}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="alert alert-success">
                {{.flash.success}}
            </div>
        </div>
    </div>
</div>
{{end}}